/* -=-=-=- BODY -=-=-=- */
html,
body {
    font-size: 14px;
}

.pc_block {
    display: none;
}

.pc_inline {
    display: none;
}

.sp_block {
    display: block;
}

.sp_inline {
    display: inline;
}

/* -=-=-=- SP（ハンバーガーメニュー） -=-=-=- */
#sp_menu {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #8dcfff;
    z-index: 9999;
    border-radius: 30px;
}

.fullscreenmenu {
    display: block;
}

.menu,
.menu span {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-sizing: border-box;
}

.menu {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 40px;
    height: 22px;
    z-index: 10;
}

.menu span {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #fff;
    z-index: 10;
}

.menu.active span {
    background-color: #fff;
}

.menu span:nth-of-type(1) {
    top: 0px;
    width: 100%;
}

.menu span:nth-of-type(2) {
    top: 10px;
    width: 100%;
}

.menu span:nth-of-type(3) {
    bottom: 0px;
    width: 100%;
}

.menu.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
    background-color: #8dcfff;
}

.menu.active span:nth-of-type(2) {
    opacity: 0;
}

.menu.active span:nth-of-type(3) {
    opacity: 1;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    background-color: #8dcfff;
}

#humnav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.95);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .spmenubtn_0 {
        width: 75%;
        margin: 100px auto 20%;
        text-align: center;

        img {
            width: 40%;
        }
    }

    .spmenubtn_1 {
        width: 75%;
        margin: 0 auto;
        padding: 4% 0;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        line-height: 2;
        border-top: 1px solid #8dcfff;

    }

    .spmenubtn_foot {
        width: 70%;
        margin: 8% auto 0;
    }
}

#humnav.active {
    right: 0;
    opacity: 1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
}

#humnav div img {
    width: 100%;
}

/* -=-=-=- フッター -=-=-=- */
.footer {
    width: 100%;

    .wrapper {
        background-color: #e4f0ff;

        .inner {
            width: 30%;
            padding: 50px 0 35px;

            .col-1 {
                width: 100%;
                margin-right: 0;

                img {
                    width: 100%;
                }
            }
        }
    }

    .footer_copy {
        text-align: center;
        line-height: 3;
        font-size: 10px;
        letter-spacing: 0.15em;
    }
}

/*-----------------------------------------------------*/
// トップページ　＞　メインビジュアル
/*-----------------------------------------------------*/
.logo__sp {
    margin-top: 35px;
    width: 100%;
    padding-right: 60px;
    box-sizing: border-box;
    text-align: center;

    img {
        width: 40%;
    }
}

.outer {
    .mv_wrap {
        max-width: none;
        margin: 24px auto 10px;


        .mv_txt {
            box-sizing: border-box;
            text-align: center;
            font-size: 20px;
            line-height: 2.5;
            margin-bottom: 5px;
        }
    }
}

/*-----------------------------------------------------*/
// トップページ　＞　スライダー
/*-----------------------------------------------------*/
#top_slider_wrap {
    .slick_01 {
        min-width: 0;

        .top_slider_panel {

            .top_slider_ph {

                img {
                    border-radius: 10px;
                }
            }

            .top_msg {
                font-size: 10px;
            }
        }
    }
}

/* Slick Custom */
.slick-dots {
    bottom: 5px !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

.arrow-mae {
    position: absolute;
    top: 46%;
    left: 3%;
    z-index: 1000;
    width: 5%;
}

.arrow-tsugi {
    position: absolute;
    top: 46%;
    right: 3%;
    z-index: 1001;
    width: 5%;
}

/*-----------------------------------------------------*/
// トップページ　＞　ニュース
/*-----------------------------------------------------*/
.top_news {
    margin-top: 80px;
    min-width: 0;

    .title {
        margin: 0 20% 20px 0;
        width: 80%;

        .top {
            font-size: 20px;
            border-bottom: 1px solid #8dcfff;
            font-weight: 600;
            padding-bottom: 5px;
            padding-left: 5%;
            margin-bottom: 5px;
        }

        .btm {
            font-size: 14px;
            padding-left: 5%;
            font-weight: 600;
        }
    }

    .inner {
        width: 90%;
        margin: 0 auto;

        .report {
            padding-bottom: 10px;
            padding-top: 10px;

            .kinds_letter {
                border-radius: 5px;
                font-size: 12px;
                padding: 3px 10px;
                margin-bottom: 7px;
            }

            .kinds_oshirase {
                border-radius: 5px;
                font-size: 12px;
                padding: 3px 10px;
                margin-bottom: 7px;
            }

            .kinds_press {
                border-radius: 5px;
                font-size: 12px;
                padding: 3px 10px;
                margin-bottom: 7px;
            }

            .wrapper {
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 7px;

                .date {
                    padding: 5px 7px 5px 0;
                }

                .project {
                    border-radius: 5px;
                    padding: 3px 10px;
                }
            }

            .ttl {
                line-height: 1.75;
                font-size: 14px;
            }
        }

        .toarchive {
            font-weight: 600;
            border-radius: 7px;
            width: fit-content;
            margin: 40px auto 40px;
            padding: 10px 15px;
        }

        .banner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .tanoshika {
                width: 70%;
                margin: 0 15% 30px;
            }

            .gardens {
                width: 70%;
                margin: 0 15% 30px;
            }

            .chiiki {
                width: 70%;
                margin: 0 15%;
            }
        }
    }
}

/*-----------------------------------------------------*/
// トップページ　＞　会社概要
/*-----------------------------------------------------*/
.top_overview {
    margin-top: 100px;
    width: 100%;
    min-width: 0;

    .title {
        margin: 0 20% 30px 0;
        width: 80%;

        .top {
            font-size: 20px;
            border-bottom: 1px solid #8dcfff;
            font-weight: 600;
            padding-bottom: 5px;
            padding-left: 5%;
            margin-bottom: 5px;
        }

        .btm {
            font-size: 14px;
            padding-left: 5%;
            font-weight: 600;
        }
    }

    .inner {
        flex-direction: column;
        width: 90%;
        margin: 0 auto 40px;

        .copy {
            width: 100%;

            .ttl {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 15px;
            }

            .txt {
                line-height: 1.75;
                margin-bottom: 25px;
                font-size: 14px;
            }

            .btn {
                font-weight: 600;
                border-radius: 5px;
                width: fit-content;
                margin: 0 auto;
                padding: 12px 30px;
            }
        }

        .ph {
            width: 100%;
            margin: 0 auto 20px;

            img {
                border-radius: 10px;
            }
        }
    }

    .wrap {
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;

        .maru {
            width: 26vw;
            height: 26vw;
            border: 1px solid #8dcfff;
            border-radius: 13vw;
            margin-bottom: 20px;

            div {
                font-weight: 500;
            }
        }
    }
}

/*-----------------------------------------------------*/
// トップページ　＞　事業案内
/*-----------------------------------------------------*/
.top_projects {
    margin-top: 80px;
    width: 100%;
    min-width: 0;

    .title {
        margin: 0 20% 30px 0;
        width: 80%;

        .top {
            font-size: 20px;
            border-bottom: 1px solid #8dcfff;
            font-weight: 600;
            padding-bottom: 5px;
            padding-left: 5%;
            margin-bottom: 5px;
        }

        .btm {
            font-size: 14px;
            padding-left: 5%;
            font-weight: 600;
        }
    }

    .inner {
        flex-direction: column;
        width: 90%;
        margin: 0 auto 20px;

        .copy {
            width: 100%;

            .ttl {
                font-size: 20px;
                font-weight: 500;
                margin: 15px 0;
            }

            .txt {
                line-height: 1.75;
                margin-bottom: 25px;
            }

            .btn {
                font-weight: 600;
                border-radius: 5px;
                width: fit-content;
                margin: 0 auto;
                padding: 12px 30px;
            }
        }

        .ph {
            width: 100%;
            font-size: 12px;
            line-height: 2.5;
            text-align: right;

            img {
                border-radius: 20px;
            }
        }
    }

    .wrap {
        width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;

        .logo {
            width: 26vw;
            margin: 0 0 15px;
        }
    }
}

/*-----------------------------------------------------*/
// トップページ　＞　TAKAHASHI MAP
/*-----------------------------------------------------*/
.top_map {
    width: 90%;
    margin: 80px auto 0;

    .copy {
        text-align: right;
        margin-bottom: 20px;

        .ttl {
            font-size: 40px;
            margin-bottom: 20px;
        }

    }

    .mapph {
        margin-bottom: 50px;
    }

    .wrap {
        flex-direction: column;

        .left {
            width: 100%;

            .inner {
                margin-bottom: 50px;

                .logo {
                    width: 21%;
                    margin-right: 3%;
                    margin-top: -15px;
                }

                .txt {
                    line-height: 2;

                    span {
                        font-size: 10px;
                    }

                    img {
                        width: 18px;
                        padding-top: 9px;
                    }
                }
            }
        }

        .right {
            width: 100%;

            .inner {
                margin-bottom: 50px;

                .logo {
                    width: 21%;
                    margin-right: 3%;
                    margin-top: -15px;
                }

                .txt {
                    line-height: 2;

                    span {
                        font-size: 10px;
                    }

                    img {
                        width: 18px;
                        padding-top: 9px;
                    }
                }
            }
        }
    }
}

/*-----------------------------------------------------*/
// 会社概要　＞　ヘッドパーツ
/*-----------------------------------------------------*/
.head_parts {
    width: 90%;
    margin: 50px auto 50px;

    .wrap {
        margin-bottom: 30px;

        .ttl {
            font-size: 27px;
            font-weight: 700;
            margin-bottom: 7px;
        }

        .enttl {
            font-size: 12px;
            font-weight: 700;
        }
    }

    .sub_menu {
        display: none;
        flex-direction: column;
        width: 90%;
        margin-left: 3%;
        font-size: 14px;

        div {
            padding-bottom: 30px;
        }
    }

    .sub_menu_pjt-1 {
        display: none;
        justify-content: space-between;
        width: 600px;
        font-size: 14px;
        margin: 0 auto 30px;
    }

    .sub_menu_pjt-2 {
        display: none;
        justify-content: space-between;
        width: 600px;
        font-size: 14px;
        margin: 0 auto;
    }
    
    .sub_menu_pjt-3 {
        display: none;
        justify-content: space-between;
        width: 600px;
        font-size: 14px;
        margin: 0 auto;
    }
}

/*-----------------------------------------------------*/
// 会社概要　＞　企業理念
/*-----------------------------------------------------*/
#philosophy {
    width: 90%;
    margin: 0 auto 100px;

    .title_wrap {
        width: 100%;
        margin-bottom: 60px;

        .jp {
            font-size: 21px;
            text-align: left;
        }

        .en {
            font-size: 10px;
            text-align: left;
            width: 50%;
            border-top: 1px solid #333;
            margin-top: 8px;
            padding-top: 5px;
        }
    }

    .wrapper {
        margin-top: 20px;

        .ttl {
            width: 100%;
            border-right: none;
            text-align: left;
            padding: 5px 0;

            .en {
                font-size: 16px;
                margin-bottom: 10px;
            }

            .jp {
                font-size: 10px;
            }
        }

        .catch {
            width: 100%;
            padding-left: 0;
            font-size: 25px;
            line-height: 50px;
        }

        .txt {
            width: 100%;
            padding-left: 0;
            line-height: 2;
            margin-top: 0;

            .guide {
                margin-top: 15px;
            }
        }
    }
}

/*-----------------------------------------------------*/
// 会社概要　＞　代表挨拶
/*-----------------------------------------------------*/
#message {
    width: 90%;
    margin: 0 auto 100px;

    .title_wrap {
        width: 100%;
        margin-bottom: 60px;

        .jp {
            font-size: 21px;
            text-align: left;
        }

        .en {
            font-size: 10px;
            text-align: left;
            width: 50%;
            border-top: 1px solid #333;
            margin-top: 8px;
            padding-top: 5px;
        }
    }

    .catch {
        font-size: 25px;
        line-height: 1.5;
        margin: 30px 0 20px;
    }

    .txt_wrap {
        flex-direction: column-reverse;
        flex-wrap: wrap;

        .txt {
            width: 100%;
            line-height: 1.75;
        }

        .ph {
            width: 90%;
            margin: 0 auto 15px;

            img {
                border-radius: 10px;
            }
        }
    }
}

/*-----------------------------------------------------*/
// 会社概要　＞　沿革
/*-----------------------------------------------------*/
#history {
    width: 90%;
    margin: 0 auto 50px;

    .title_wrap {
        width: 100%;
        margin-bottom: 60px;

        .jp {
            font-size: 21px;
            text-align: left;
        }

        .en {
            font-size: 10px;
            text-align: left;
            width: 50%;
            border-top: 1px solid #333;
            margin-top: 8px;
            padding-top: 5px;
        }
    }

    .history_wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        .history_left {
            width: 100%;
            background-position: 102px 0;

            .history_box {
                margin: 10px 0;

                .history_tit {
                    width: 110px;
                }

                .history_tit::after {
                    content: "あ";
                    margin-left: 0;
                }

                .history_txt {
                    padding: 0 0 10px 7px;
                }
            }
        }
    }
}

/*-----------------------------------------------------*/
// 会社概要　＞　スライダー
/*-----------------------------------------------------*/
#slider_wrap {
    margin-bottom: 100px;

    .slick_02 {
        min-width: 0;

        .top_slider_panel {

            .top_slider_ph {

                .ph_top {
                    border-radius: 10px;
                }

                .ph_btm {
                    border-radius: 10px;
                }
            }
        }
    }
}

/*-----------------------------------------------------*/
// 会社概要　＞　企業概要
/*-----------------------------------------------------*/
#profile {
    width: 90%;
    margin: 0 auto 100px;

    .title_wrap {
        width: 100%;
        margin-bottom: 60px;

        .jp {
            font-size: 21px;
            text-align: left;
        }

        .en {
            font-size: 10px;
            text-align: left;
            width: 50%;
            border-top: 1px solid #333;
            margin-top: 8px;
            padding-top: 5px;
        }
    }

    .wrap {
        width: 100%;
        margin-left: 0;

        .ph {
            margin-bottom: 30px;

            img {
                border-radius: 10px;
            }
        }

        .inner {
            flex-direction: column;
            padding: 10px 20px;

            .ttl {
                width: 100%;
                margin-left: 0;
                line-height: 1.75;
            }

            .txt {
                width: 100%;
                margin-right: 0;
                line-height: 1.75;
                text-align: justify;
            }
        }

        .box {
            padding: 10px 20px;

            div {

                .ttl {
                    width: 85px;
                    margin-left: 0;
                    line-height: 1.75;
                }

                .txt {
                    width: fit-content;
                    margin-right: 0;
                    line-height: 1.75;
                }
            }
        }
    }
}

/*-----------------------------------------------------*/
// 会社概要　＞　組織図
/*-----------------------------------------------------*/
#organization {
    width: 90%;
    margin: 0 auto 100px;

    .title_wrap {
        width: 100%;
        margin-bottom: 60px;

        .jp {
            font-size: 21px;
            text-align: left;
        }

        .en {
            font-size: 10px;
            text-align: left;
            width: 50%;
            border-top: 1px solid #333;
            margin-top: 8px;
            padding-top: 5px;
        }
    }

    .ph {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

/*-----------------------------------------------------*/
// 会社概要　＞　アクセス
/*-----------------------------------------------------*/
#access {
    width: 90%;
    margin: 0 auto 100px;

    .title_wrap {
        width: 100%;
        margin-bottom: 60px;

        .jp {
            font-size: 21px;
            text-align: left;
        }

        .en {
            font-size: 10px;
            text-align: left;
            width: 50%;
            border-top: 1px solid #333;
            margin-top: 8px;
            padding-top: 5px;
        }
    }

    .wrap {
        width: 100%;
        margin-left: 0;
        margin-top: 50px;

        .copy {
            .ttl {
                font-size: 18px;
                margin-bottom: 10px;
            }

        }

        .map {
            iframe {
                width: 100%;
                aspect-ratio: 4/3; //アスペクト比（縦横比）を指定
            }
        }

        .btn {
            padding-bottom: 10px;
        }
    }
}

/*-----------------------------------------------------*/
// 事業案内　＞　コンセプト
/*-----------------------------------------------------*/
#concept-txt {
    width: 90%;
    margin: 0 auto 100px;

    .catch {
        font-size: 25px;
        line-height: 1.5;
    }

    /* 地域貢献 */
    .jisseki_wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: -50px;

        .midashi {
            font-size: 16px;
            font-weight: 600;
            margin: 50px 0 10px;
        }

        .inner {
            font-size: 14px;
            margin-bottom: 15px;

            .nen {
                margin-right: 0px;
                width: 60px;
                line-height: 1.75;
            }

            .event {
                line-height: 1.75;
            }
        }
    }
}

/*-----------------------------------------------------*/
// 事業案内　＞　高橋株式会社
/*-----------------------------------------------------*/
.corpbox {
    width: 90%;
    margin: 0 auto 100px;

    .headttl {
        align-items: center;

        .logo {
            img {
                height: auto;
                width: 60px;
            }
        }

        .txt {
            margin-left: 12px;

            .jp {
                font-size: 18px;
            }

            .en {
                font-size: 8px;
            }
        }
    }

    .ttlcopy {
        font-size: 18px;
        font-weight: 600;
        margin: 30px 0;
        line-height: 1.5;
    }

    .cntbox {
        flex-direction: column;

        .copy {
            width: 100%;

            .txt {
                line-height: 1.75;
                margin-bottom: 20px;
            }

            .btn {
                margin: 0 auto;
            }
        }

        .slider_wrap {
            width: 90%;
            margin: 0 auto 20px;

            img {
                border-radius: 10px;
            }
        }
    }

    /*地域貢献*/
    .kouken_box {
        width: 100%;
        margin: 20px auto -50px;

        .ph {
            justify-content: space-evenly;

            .ph-inner {
                width: 47.5%;
                font-size: 10px;

                img {
                    border-radius: 10px;
                }
            }
        }
    }

    .suste_box {
        width: 100%;
        margin: 20px auto -60px;
        flex-direction: column;

        .copy {
            line-height: 1.75;
        }

        .inner {
            width: 100%;

            .ph {
                width: 90%;
                margin: 0 auto 15px;

                img {
                    border-radius: 10px;
                }
            }

            .txt {
                line-height: 1.75;
                margin-bottom: 40px;
            }
        }
    }
}

/*-----------------------------------------------------*/
// プライバシーポリシー
/*-----------------------------------------------------*/
.policy_wrap {
    width: 90%;
    margin: 0 auto 100px;

    .left {
        margin-bottom: 30px;

        h3 {
            margin-bottom: 15px;
        }
    }

    .right {
        text-align: right;
        margin-bottom: 30px;
    }
}

/*-----------------------------------------------------*/
// ニュース　＞　アーカイブページ
/*-----------------------------------------------------*/
.archive_wrap {
    width: 90%;

    .news__box {
        padding: 20px 5%;

        .news_kind {
            .kinds_letter {
                border-radius: 5px;
                font-size: 12px;
                padding: 3px 10px;
                margin-bottom: 7px;
            }

            .kinds_oshirase {
                border-radius: 5px;
                font-size: 12px;
                padding: 3px 10px;
                margin-bottom: 7px;
            }

            .kinds_press {
                border-radius: 5px;
                font-size: 12px;
                padding: 3px 10px;
                margin-bottom: 7px;
            }
        }

        .inner {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 7px;

            .date {
                padding: 5px 7px 5px 0;
            }

            .news_pjt {
                border-radius: 5px;
                padding: 3px 10px;
                margin-right: 0;
            }
        }

        .title {
            font-size: 14px;
            line-height: 1.75;
        }

    }

    .pager {
        padding: 50px 0 75px;
    }

}

/*-----------------------------------------------------*/
// ニュース　＞　シングルページ
/*-----------------------------------------------------*/
.news_wrap {
    width: 90%;
    margin: 0 auto 60px;

    .head {
        margin-bottom: 20px;

        .news_kind {
            .kinds_letter {
                border-radius: 5px;
                font-size: 12px;
                padding: 3px 10px;
                margin-bottom: 7px;
            }

            .kinds_oshirase {
                border-radius: 5px;
                font-size: 12px;
                padding: 3px 10px;
                margin-bottom: 7px;
            }

            .kinds_press {
                border-radius: 5px;
                font-size: 12px;
                padding: 3px 10px;
                margin-bottom: 7px;
            }
        }

        .inner {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 7px;

            .date {
                padding: 5px 7px 5px 0;
            }

            .news_pjt {
                border-radius: 5px;
                padding: 3px 10px;
                margin-right: 0;
            }
        }
    }

    .entry {
        h1 {
            font-size: 25px;
            line-height: 1.5;
            margin-bottom: 20px;
            text-align: justify;
        }

        h6 {
            font-size: 18px;
            line-height: 1.5;
            margin-top: -10px;
            margin-bottom: 20px;
            text-align: justify;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            margin-bottom: 20px;
            text-align: left;
        }

        figcaption {
            font-size: 10px;
        }

        .aligncenter {
            display: block;
            margin: 0 auto;
        }

        .alignright {
            float: none;
            margin-left: 0;
        }

        .alignleft {
            float: none;
            margin-right: 0;
        }

        .clearfix {
            margin-bottom: 0;
        }
    }

    .news_zengo {
        margin: 60px auto 0;
        display: flex;
        justify-content: space-between;

        .rightside {
            text-align: right;
        }

        .box {
            width: 40%;

            .top {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 15px;
            }

            .btm {
                display: none;
            }
        }
    }
}

/*-----------------------------------------------------*/
// 採用情報　＞　スライダー
/*-----------------------------------------------------*/
#slider_rec {
    margin-top: 20px;
    margin-bottom: 30px;

    .slick_rec {
        width: 95%;
        max-width: none;

    }
}

/*-----------------------------------------------------*/
// 採用情報　＞　ボタン
/*-----------------------------------------------------*/
#btns {
    margin-bottom: 50px;

    .wrap {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .box {
            width: 100%;
            margin-bottom: 25px;

            img {
                border-radius: 15px;
                border: 1px solid #333;
            }
        }

        .banner_tanoshika {
            width: 90%;
            margin: 0 5% 30px;
        }
    }
}

/*-----------------------------------------------------*/
// Footer
/*-----------------------------------------------------*/
#footer {

    #footer_copy {
        margin-top: 0;
    }
}

/*-----------------------------------------------------*/
// ガーデンズ千早のコンセプト
/*-----------------------------------------------------*/
.head_gardens {
    width: 90%;
    margin: 50px auto 30px;

    .wrap {
        .ttl {
            font-size: 20px;
        }

        .enttl {
            font-size: 10px;
        }
    }
}

#gardens_concept {
    width: 100%;
    margin: 0 auto 60px;

    .catch {
        font-size: 30px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .txt {
        font-size: 14px;
        width: 90%;
        margin: 0 auto 30px;
    }

    .ph_box {
        img {
            border-radius: 0;
        }
    }
}

.c_gardens_box {
    width: 90%;
    margin: 0 auto 30px;
    justify-content: space-between;

    .ph_inner {
        width: 85%;

        img {
            border-radius: 10px;
        }
    }

    .txt_inner {
        width: 100%;
        font-size: 14px;
    }
}

.order_jun {
    flex-direction: column-reverse;

    .ph_inner {
        margin-top: 15px;
    }
}

.order_rev {
    flex-direction: column-reverse;

    .ph_inner {
        margin-top: 15px;
        margin-left: auto;
    }
}

.gardens_kaihatsu {
    width: 100%;
    margin: 0 auto 20px;

    .midashi {
        font-size: 16px;
        font-weight: 600;
        margin: 50px 0 30px;
        text-align: center;
    }

    .inner {
        width: 90%;
        margin: 0 auto 20px;
        font-size: 14px;
        flex-direction: column;

        .nen {
            margin-right: 0;
            font-weight: 600;
            line-height: 2;
        }

        .event {
            line-height: 2;
        }
    }
}

.gardens_banner {
    width: 100%;
    margin: 0 auto 75px;

    .banner_inner {
        width: 80%;
        margin: 0 auto;
    }
}